.App {
  text-align: center;
}

.logo {
  height: 40px;
  padding: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.somebutton {
  display: none;
}

/* table tbody tr:first-child {
  font-weight: bold;
  color: greenyellow;
  background-color: rgb(0, 0, 0) !important;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td {
  background-color: transparent !important;
}

.handsontable table thead th {
  background-color: rgb(0, 255, 0);
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.styles {
  margin-top: 10em;
  color: rgb(12, 2, 2);
  background-color: #f7f7f7 !important;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.AppBar {
  background-color: #f7f7f7 !important;
}

.loginButton {
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}
